/* from style.css */

* {
    box-sizing: border-box;
}

html {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(67, 74, 84);
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;

    /*transition: 0.3s ease-out;*/
}

body > div {
    height: 100%;
}
.dis-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container{
    background-color: #fff;
    width: 400px;
    height: 92%;
    max-height: 620px;
    transition: 0.3s ease-out;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
    animation: fadein 1s;
}
#main-container > div{
    background-color: #fff;
}
#chats-container{
    padding: 7px;
    background-color: #fff;
    overflow: hidden;
    height: 91%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#main-container #chats-container:hover{
    overflow-y: scroll;
}
#main-container #chats-container .chat {
    margin: 5px 0;
    width: 80%;
}
#main-container #chats-container .msg{
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    padding: 12px;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
#main-container #chats-container .bot-chat span{
    color: #333;
    border-top-left-radius: 0;

    background-color: #f1f1f1;
}
#main-container #chats-container .my-chat span{
    color: #fff;
    border-top-right-radius: 0;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main-container #chats-container .my-chat{
    justify-content: flex-end;
    margin-left: auto;
}
#main-container #chats-container .bot-chat{
    justify-content: flex-start;
    margin-right: auto;
}
#main-container #input-container{
    height: 8%;
}

#main-container #input-container #input-box{
    position: relative;
    width: 97%;
    margin: 0 auto;
}
#main-container #input-container #input-box input{
    background-color: rgb(241, 241, 241);
    padding: 12px 6px 12px 20px;
    font-size: 18px;
    outline: none;
    border-radius: 24px;
    box-shadow: 1px 1px 4px grey;
    border: none;
    margin: 0 auto;
    width: 100%;
    display: block;
    cursor: pointer;
    color: #333;
}


#main-container #input-container #input-box i{
    font-size: 22px;
    color: #777;
}

#main-container #input-container #input-box i.active{
    color: #2E86C1;
}

#main-container #input-container #input-box #plane-box{
    position: absolute;
    right: 0px;
    top: 0;
    padding: 11px 15px 11px 10px;
    cursor: pointer;
}

#main-container #utility-container{
    display: none;
    border-radius: 5px;
}

#main-container div#wave {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#main-container div#wave .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px;
    background: #333;
    animation: wave 1.3s linear infinite;
}
#main-container div#wave .dot:nth-child(2) {
    animation-delay: -1.1s;
}
#main-container div#wave .dot:nth-child(3) {
    animation-delay: -0.9s;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }
    30% {
        transform: translateY(-10px);
    }
}

#main-container .test-cases{
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 1px 1px 4px grey;
    width: 80%;
    margin:10px auto;
    padding: 10px;
    border: 3px solid #7b134c;
}
#main-container .test-cases:hover{
    border: 3px solid #7b134c;
    background: #fff;
    color: #7b134c ;
}
#main-container .selected-test{
    background: #5DADE2;
    border-color: #5DADE2;
}
#main-container #mobi-container{
    height: 199px;
    overflow: hidden;
    display: none;
}
#main-container .test-cases:first-child{
    margin-top: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

:-ms-input-placeholder { /* Microsoft Edge */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media only screen and (max-width: 768px) {
    #main-container {
        max-height: initial;
        height: 100%;
        width: 100%;
    }
}